<!-- INCLUDE overall_header.html -->
<!-- INCLUDE portal/_block_config.html -->

<div id="portal-body" role="grid">
	<!-- IF S_TOP_COLUMN -->
	<div id="portal-top" role="rowgroup">
	<!-- [+] top module area -->
		<ul>
			<li>
			<!-- BEGIN modules_top -->
				<!-- DEFINE $TEMPLATE_FILE = '{modules_top.TEMPLATE_FILE}' -->
				<!-- DEFINE $IMAGE_SRC = '{modules_top.IMAGE_SRC}' -->
				<!-- DEFINE $IMAGE_WIDTH = '{modules_top.IMAGE_WIDTH}' -->
				<!-- DEFINE $IMAGE_HEIGHT = '{modules_top.IMAGE_HEIGHT}' -->
				<!-- DEFINE $CUSTOM_CODE = '{modules_top.CODE}' -->
				<!-- DEFINE $TITLE = '{modules_top.TITLE}' -->
				<!-- DEFINE $MODULE_ID = '{modules_top.MODULE_ID}' -->
				<!-- INCLUDE {$TEMPLATE_FILE} -->
			<!-- END modules_top -->
			</li>
		</ul>
	<!-- [-] top module area -->
	</div>
	<!-- ENDIF -->
	<!-- [+] center module area -->
	<!-- IF S_CENTER_COLUMN -->
		<div id="portal-center" role="rowgroup">
			<!-- BEGIN modules_center -->
				<!-- DEFINE $TEMPLATE_FILE = '{modules_center.TEMPLATE_FILE}' -->
				<!-- DEFINE $IMAGE_SRC = '{modules_center.IMAGE_SRC}' -->
				<!-- DEFINE $IMAGE_WIDTH = '{modules_center.IMAGE_WIDTH}' -->
				<!-- DEFINE $IMAGE_HEIGHT = '{modules_center.IMAGE_HEIGHT}' -->
				<!-- DEFINE $CUSTOM_CODE = '{modules_center.CODE}' -->
				<!-- DEFINE $TITLE = '{modules_center.TITLE}' -->
				<!-- DEFINE $MODULE_ID = '{modules_center.MODULE_ID}' -->
				<!-- INCLUDE {$TEMPLATE_FILE} -->
			<!-- END modules_center -->
			<!-- IF S_DISPLAY_JUMPBOX and B3P_DISPLAY_JUMPBOX -->
				<br />
				<!-- INCLUDE portal/modules/jumpbox.html -->
			<!-- ENDIF -->
		</div>
	<!-- ENDIF -->
	<!-- [-] center module area -->


	<!-- [+] left module area -->

	<!-- [-] left module area -->

	<!-- [+] right module area -->
		<div id="portal-right">

			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	<!-- [-] right module area -->


	<br class="portal-clear" />
	<!-- IF S_BOTTOM_COLUMN -->
	<div id="portal-bottom" role="rowgroup">
	<!-- [+] bottom module area -->
		<ul>
			<li>
			<!-- BEGIN modules_bottom -->
				<!-- DEFINE $TEMPLATE_FILE = '{modules_bottom.TEMPLATE_FILE}' -->
				<!-- DEFINE $IMAGE_SRC = '{modules_bottom.IMAGE_SRC}' -->
				<!-- DEFINE $IMAGE_WIDTH = '{modules_bottom.IMAGE_WIDTH}' -->
				<!-- DEFINE $IMAGE_HEIGHT = '{modules_bottom.IMAGE_HEIGHT}' -->
				<!-- DEFINE $CUSTOM_CODE = '{modules_bottom.CODE}' -->
				<!-- DEFINE $TITLE = '{modules_bottom.TITLE}' -->
				<!-- DEFINE $MODULE_ID = '{modules_bottom.MODULE_ID}' -->
				<!-- INCLUDE {$TEMPLATE_FILE} -->
			<!-- END modules_bottom -->
			</li>
		</ul>
	<!-- [-] bottom module area -->
	</div>
	<!-- ENDIF -->
</div>

<!--// board3 Portal by www.board3.de //-->
<div class="copyright">Powered by <a href="http://www.board3.de/">Board3 Portal</a> &copy; 2009 - 2015 Board3 Group</div>

<!-- INCLUDEJS portal/assets/jquery.getscrollbarwidth.js -->
<!-- INCLUDEJS portal/assets/portal.js -->

<!-- INCLUDE overall_footer.html -->
