
<!-- IF .latest_announcements or .latest_hot_topics or .latest_topics -->
<div class="recent-block">
	<h2 class="recent-block__title">Últimos mensajes</h2>

	<ul class="list">


				<!-- IF .latest_announcements -->
				<!-- BEGIN latest_announcements -->
				<li class="list_item">
								<a href="{latest_announcements.U_VIEW_TOPIC}" title="{latest_announcements.FULL_TITLE}">{latest_announcements.TITLE}</a>
				</li>
				<!-- ENDIF -->

				<!-- IF .latest_topics -->
				<!-- BEGIN latest_topics -->
				<li class="list__item">
						<a class="list__link" href="{latest_topics.U_VIEW_TOPIC}" title="{latest_topics.FULL_TITLE}">{latest_topics.TITLE}</a>	<span>{latest_topics.AUTHOR}</span>
				</li>
				<!-- END latest_topics -->
				<!-- ENDIF -->

	</ul>
</div>

<!-- ENDIF -->
